body 
{ 
    background-color: #000000;
}
.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}  
#heading 
{
    text-align: center;
    color: rgb(255, 0, 0);
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}